extends layout

block content
  h1 getMonitaryPolicy
  p This call will return the monitary policy of the Atheios chain.
  h2 Parameters
  p None
  h2 Returns
  p Integer number as json, note that the values are rounded accouding to the javascript function Math.round()
  h2 Example
  .alert.alert-info(role="alert")
    | $ curl "https://api.atheios.org/api/getMonitraryPolicy"
