extends layout

block content
  img.img-fluid.w-100(src="images/api.png")
  h1= title
  P This website provides access to the Atheios blockchain via API calls.
  h2 Access cia curl
  .alert.alert-info(role="info")
    pre.code
      | $ curl "https://api.atheios.org/api/getHashRate"
  h2 Access via javascript
  .alert.alert-info(role="info")
    pre.code
      p var request = require('request');
      | var url = 'https://api.atheios.org/api/getHashRate';
      | request.get({ url: url, json: true, headers: {'User-Agent': 'request'}}, (err, res, data) => {
      |   if (err) {
      |     console.log('Error:', err);
      |   } else if (res.statusCode !== 200) {
      |     console.log('Status:', res.statusCode);
      |   } else {
      |     // data is already parsed as JSON:
      |     hashrate = data.getHashRate;
      |     difficulty = data.getDifficulty;
      |     blocktime = data.getBlockTime;
      |     // do things
      |     }
      |  });
      |

  h2 API calls
  p Currently supported are the following API calls
  a(href="api/getBlockNumber") api/getBlockNumber
  br
  a(href="api/currentSupply") api/currentSupply
  br
  a(href="api/getEpoch") api/getEpoch
  br
  a(href="api/getMonitaryPolicy") api/getMonitaryPolicy
  br
  a(href="api/getHashRate") api/getHashRate
