extends layout

block content
  h1= title
  P This website provides access to the Atheios blockchain via API calls.
  h2 Access cia curl
  .alert.alert-info(role="info")
    | $ curl "https://api.atheios.org/api/getHashRate"
  h2 Access via javascript
  .alert.alert-info(role="info")
    code.language-scss(data-lang="javascript")
    |  var request = require('request');
    br
    |  var url = 'https://api.atheios.org/api/getHashRate';
    br
    |  request.get({ url: url, json: true, headers: {'User-Agent': 'request'}}, (err, res, data) => {
    br
    |   if (err) {
    br
    |     console.log('Error:', err);
    br
    |   } else if (res.statusCode !== 200) {
    br
    |     console.log('Status:', res.statusCode);
    br
    |   } else {
    br
    |     // data is already parsed as JSON:
    br
    |     hashrate = data.getHashRate;
    br
    |     difficulty = data.getDifficulty;
    br
    |     blocktime = data.getBlockTime;
    br
    |     // do things
    br
    |     }
    br
    |  });
    br
    |

  h2 API calls
  p Currently supported are the following API calls
  a(href="api/getBlockNumber") api/getBlockNumber
  br
  a(href="api/currentSupply") api/currentSupply
  br
  a(href="api/getEpoch") api/getEpoch
  br
  a(href="api/getMonitaryPolicy") api/getMonitaryPolicy
  br
  a(href="api/getHashRate") api/getHashRate
